<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>최형석의 포트폴리오</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/Portpoliostyles.css" rel="stylesheet" />


</head>
<body>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5" >
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <!--포트폴리오 목록-->
            <div class="col mb-5" th:each="portpolio : ${portpolios}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="@{${portpolio.imgUrl}}" alt="등록된 이미지가 없습니다." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${portpolio.title}">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2" th:text="'등록시간: '+${#temporals.format(portpolio.createdAt, 'yyyy-MM-dd HH:mm:ss') }">
                              등록시간
                            </div>
                            <div class="d-flex justify-content-center small text-warning mb-2" th:if="${portpolio.getUpdatedAt() != portpolio.getCreatedAt()}" th:text="'수정시간: '+${#temporals.format(portpolio.updatedAt, 'yyyy-MM-dd HH:mm:ss')}">

                            </div>
                            <!-- Product price-->
                            포트폴리오
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/portpolio(id=${portpolio.id})}">조회</a></div>
                    </div>
                </div>
            </div>
            <!--END 포트폴리오 목록-->
        </div>
    </div>
</section>
<!--페이징 처리 부분 -->
<div class="d-flex justify-content-center" th:if="${startPage != null && endPage != null && nowPage != null}" >
    <li class="btn btn btn-primary" th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a class="page-link" th:if="${page != nowPage}" th:href="@{/portpolioList(page = ${page - 1},title=${param.title})}" th:text="${page}"></a>
        <strong  th:if="${page == nowPage}" th:text="${page}" style="color: red "></strong>
    </li>

</div>

<!--포트폴리오가 없는 경우 문구 -->
<div class="d-flex justify-content-center" th:if="${#strings.isEmpty(portpolios)}">
        <h2 th:text="${'등록된 포트폴리오가 없습니다.'}" style="margin-bottom: 100px"></h2>
</div>

<!--검색 처리 부분 -->
<form th:action="@{/portpolioList}" method="get">
    <div class="d-flex justify-content-center" >
    <div class="card text-center" style="width: 20rem;">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" name="title" type="text" placeholder="검색할 제목을 입력해주세요" aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
            </div>
        </div>
    </div>
    </div>
</form>


<!--등록 버튼(중앙 정렬)-->
<div class="p-2 bg-light border">
<div class="d-flex justify-content-center">
    <form action="/addportpolio" method="post">
        <button sec:authorize="hasRole('ADMIN')" class="btn btn btn-primary" type="submit" >등록</button>
    </form>
</div>
</div>
<!--연습-->

    <!--여기까지 삭제-->

    <!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/PortpolioPagescripts.js"></script>
</body>
</html>
